/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

/* General styles */

body {background-image: url("../images/download8.webp"), url("../images/download8.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 22% auto;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: rgb(53, 94, 59);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.introduction-text {
    text-align: center;
    padding: 50px;
    font-size: 1em;

}

